cachetools
certifi
charset-normalizer
click
colorama
dnspython
Flask
Flask-Cors
google-auth
google-auth-oauthlib
gspread
idna
itsdangerous
Jinja2
MarkupSafe
oauthlib
pyasn1
pyasn1-modules
pymongo
python-dotenv
requests
requests-oauthlib
rsa
urllib3
Werkzeug
