@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  width: 20rem;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: rgb(13, 13, 13);
  padding: 0.5rem;
}
